In [ ]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [ ]:
df = spark.createDataFrame(
    [
        (1, "Peter Pan", "1999-04-23", 90, 3),
        (2, "Alice Smith", "2000-05-15", 100, 2),
        (3, "Bob Miller", "2000-09-01", 80, 3),
        (4, "April May", "1999-09-30", 110, 1),
        (5, "Billie Jean", "1990-07-12", 360, None)
    ],
    ["leftid", "name", "date-of-birth", "creditscore", "universityid"]
)

In [ ]:
df.show()

In [ ]:
df.cache()

In [ ]:
df.createOrReplaceTempView("leftview")

In [ ]:
spark.sql("""
    select * from leftview
""").show()

In [ ]:
spark.sql("""
    select name from leftview where leftid > 3
""").show()

In [ ]:
spark.sql("""
    select * from leftview where universityid is not null
""").show()

In [ ]:
spark.sql("""
    select universityid, max(creditscore) as max_credit_score from leftview group by universityid 
""").show()

In [ ]:
spark.sql("""
    select * from leftview a inner join leftview b on a.universityid = b.universityid
""").show()

In [ ]:
from pyspark.sql.functions import lit

In [ ]:
spark.sql("""
    select universityid, max(creditscore) as max_credit_score from leftview group by universityid order by universityid
""").show()

In [ ]:
def my_len(s):
    return len(s)

In [ ]:
help(spark.udf.register)

In [ ]:
spark.udf.register("mylen", my_len)

In [ ]:
spark.sql("""
    select mylen(name) from leftview
""").show()

In [ ]:
df = spark.read.format("csv").option("header", "true").option("delimiter",",").option("inferSchema", "true").load("/Users/avinashs/PycharmProjects/introtoPython/spark/datasets/by-day/")

In [ ]:
df.count()

In [ ]:
df.show(5, truncate=False)

In [ ]:
df.rdd.getNumPartitions()

In [ ]:
df.select("InvoiceNo", "StockCode", "Description").filter("InvoiceNo == 580538").show()

In [36]:
df.rdd.getNumPartitions()

16

In [37]:
df1 =  df.groupBy("StockCode").agg({"UnitPrice": "max"})

In [38]:
df1.rdd.getNumPartitions()

200

In [ ]:
df.join(df, df["InvoiceNo"] == df["InvoiceNo"]).show(5)

In [39]:
spark.stop()