In [ ]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession\
   .builder.enableHiveSupport().getOrCreate()

In [ ]:
spark.catalog.listDatabases()

In [ ]:
spark.sql("""
CREATE DATABASE spark
""").show()

In [ ]:
spark.catalog.listDatabases()

In [ ]:
spark.sql("""
use spark
""").show()

In [ ]:
spark.sql("""
CREATE TABLE EMPLOYEE(id INT, name VARCHAR(20))
""").show()

In [ ]:
spark.catalog.listTables()

In [ ]:
df = spark.createDataFrame(
    [
        (1, "Peter Pan", "1999-04-23", 90, 3),
        (2, "Alice Smith", "2000-05-15", 100, 2),
        (3, "Bob Miller", "2000-09-01", 80, 3),
        (4, "April May", "1999-09-30", 110, 1),
        (5, "Billie Jean", "1990-07-12", 360, None)
    ],
    ["leftid", "name", "date-of-birth", "creditscore", "universityid"]
)

In [ ]:
df.write.saveAsTable("students")

In [ ]:
spark.catalog.listTables()

In [ ]:
spark.sql("""
select * from students
""").show()

In [ ]:
spark.sql("""
DROP TABLE students
""").show()

In [ ]:
spark.catalog.listTables()

In [ ]:
spark.catalog.createExternalTable("students", path="/Users/avinashs/Downloads/output")

In [ ]:
spark.catalog.listTables()

In [29]:
spark.stop()