In [ ]:
import findspark

In [ ]:
findspark.init()

In [ ]:
findspark.find()

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

### Create spark dataframe from rdd

In [ ]:
df = spark.createDataFrame([[1,2,3,4,5],[6,7,8,9,10]])

In [ ]:
df.show()

In [ ]:
df.collect()

In [ ]:
rdd = spark.sparkContext.parallelize([(1, "python"), (2, "java"), (3, "c++")])

In [ ]:
rdd.collect()

In [ ]:
df1 = rdd.toDF()

In [ ]:
df1.show()

### Read json file as spark dataframe

In [ ]:
people_df = spark.read.json("/Users/avinashs/PycharmProjects/introtoPython/spark/datasets/people.json")

In [ ]:
people_df.show()

### Read csv file as spark dataframe

In [ ]:
baby_names_df = spark.read.csv("/Users/avinashs/PycharmProjects/introtoPython/spark/datasets/Baby_Names__Beginning_2007.csv")

In [ ]:
baby_names_df.show()

### Read csv file with header

In [ ]:
spark.read.option("header", True).csv("/Users/avinashs/PycharmProjects/introtoPython/spark/datasets/Baby_Names__Beginning_2007.csv")

### Standard Dataframe Reader for reading data in spark

In [ ]:
spark.read.format("json").load("/Users/avinashs/PycharmProjects/introtoPython/spark/datasets/people.json")

In [ ]:
spark.read.format("csv").option("header", "True").load("/Users/avinashs/PycharmProjects/introtoPython/spark/datasets/Baby_Names__Beginning_2007.csv")

### Explicity creating dataframe with user-defined schema

In [ ]:
from pyspark.sql.types import *

In [ ]:
columns = [StructField("year", DateType(), True),
                    StructField("first_name", StringType(), True),
                    StructField("county", StringType(), True),
                    StructField("gender", StringType(), True),
                    StructField("count", IntegerType(), True)]

In [ ]:
schema= StructType(columns)

In [ ]:
csv_schema_df = spark.read.format("csv").option("mode", "DROPMALFORMED").schema(schema).load("/Users/avinashs/PycharmProjects/introtoPython/spark/datasets/Baby_Names__Beginning_2007.csv")

In [ ]:
csv_schema_df.show()

### Print the schema of the dataframe

In [ ]:
csv_schema_df.printSchema()

### Describe the dataframe

In [ ]:
csv_schema_df.describe()

In [ ]:
csv_schema_df.count()

### Get the first row in a dataframe

In [ ]:
csv_schema_df.first()

### Get n records

In [ ]:
csv_schema_df.take(5)

### Get 1st n records

In [ ]:
csv_schema_df.head(10)

### Get last n records

In [ ]:
csv_schema_df.tail(10)

### Create row object manually and create spark dataframe from row object

In [ ]:
from pyspark.sql.types import Row

In [ ]:
row2 = Row(name="Alice", age=11)

In [ ]:
row2

In [ ]:
row1 = Row(name="Janice", age=15)

In [ ]:
row1.asDict().items()

In [ ]:
rows = [row1, row2]

In [ ]:
spark.createDataFrame(rows).show()

In [ ]:
csv_file = "/Users/avinashs/PycharmProjects/introtoPython/spark/datasets/Baby_Names__Beginning_2007.csv"

In [ ]:
rdd = spark.sparkContext.textFile(csv_file)

In [ ]:
rdd_header = rdd.first()

In [ ]:
rdd_data = rdd.filter(lambda x: x != rdd_header)

In [ ]:
rdd_data.count()

In [ ]:
rdd_data.take(10)

In [ ]:
row_data = rdd_data.map(lambda x: Row(year=int(x.split(",")[0]), 
                           first_name=x.split(",")[1], 
                           country=x.split(",")[2], 
                           gender=x.split(",")[3], 
                           count=int(x.split(",")[4])))

In [ ]:
row_data.take(10)

In [ ]:
df = spark.createDataFrame(row_data)

In [ ]:
first_row = df.first()

In [ ]:
first_row

In [ ]:
df.printSchema()

### Get all the columns in a spark dataframe

In [ ]:
df.columns

### Access a single column using object notation

In [ ]:
df.year

### Access a single column using dictionary notation

In [ ]:
df["year"]

In [ ]:
from pyspark.sql.functions import column, col, expr

### Access columns using col, column, expr functions

In [ ]:
df.select("year").show()

In [ ]:
df.select(col("year"), column("country").alias("county"), col("count"), expr("first_name")).show()

In [ ]:
df.select("year", "country", "gender").show()

In [ ]:
df.select("year", df.country, df["count"]).show()

In [ ]:
df.selectExpr("year", "country", "gender").show()

In [ ]:
df.selectExpr("first_name").show()

### filter transformation to get the needed records

In [ ]:
df.filter(df.year == 2013).show()

In [ ]:
df.filter(df["year"] == 2013).show()

In [ ]:
df.filter("year == 2013").show()

In [ ]:
df.filter("year == 2013").select("year", "count").show()

### expr transformation

In [ ]:
df.select("first_name").show()

In [ ]:
from pyspark.sql.functions import length

In [ ]:
df.select(length("first_name").alias("first_name_length")).show()

In [ ]:
df.selectExpr("length(first_name)").show()

In [ ]:
df.selectExpr("count * 2").show()

### select all columns in a dataframe

In [ ]:
df.select(df.columns).show(truncate=False)

### select needed columns in a dataframe

In [ ]:
needed_columns = ["year", "first_name", "gender"]
df.select(*needed_columns).show()

In [ ]:
spark.stop()