In [30]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

In [38]:
spark = SparkSession\
   .builder.enableHiveSupport().getOrCreate()

In [39]:
spark.catalog.listDatabases()

[Database(name='default', description='Default Hive database', locationUri='file:/Users/avinashs/PycharmProjects/introtoPython/spark/notebook/spark-warehouse'),
 Database(name='spark', description='', locationUri='file:/Users/avinashs/PycharmProjects/introtoPython/spark/notebook/spark-warehouse/spark.db')]

In [ ]:
spark.sql("""
CREATE DATABASE spark
""").show()

In [ ]:
spark.catalog.listDatabases()

In [40]:
spark.sql("""
use spark
""").show()

++
||
++
++

In [ ]:
spark.sql("""
CREATE TABLE EMPLOYEE(id INT, name VARCHAR(20))
""").show()

In [ ]:
spark.catalog.listTables()

In [51]:
df = spark.createDataFrame(
    [
        (1, "Peter Pan", "1999-04-23", 90, 3),
        (2, "Alice Smith", "2000-05-15", 100, 2),
        (3, "Bob Miller", "2000-09-01", 80, 3),
        (4, "April May", "1999-09-30", 110, 1),
        (5, "Billie Jean", "1990-07-12", 360, None)
    ],
    ["leftid", "name", "date-of-birth", "creditscore", "universityid"]
)

In [52]:
df = df.coalesce(1)

In [53]:
df.rdd.getNumPartitions()

1

In [54]:
df.write.bucketBy(3,"leftid").saveAsTable("students")

In [55]:
spark.catalog.listTables()

[Table(name='employee', database='spark', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='students', database='spark', description=None, tableType='MANAGED', isTemporary=False)]

In [ ]:
spark.sql("""
select * from students
""").show()

In [49]:
spark.sql("""
DROP TABLE students
""").show()

++
||
++
++

In [50]:
spark.catalog.listTables()

[Table(name='employee', database='spark', description=None, tableType='MANAGED', isTemporary=False)]

In [ ]:
spark.catalog.createExternalTable("students", path="/Users/avinashs/Downloads/output")

In [ ]:
spark.catalog.listTables()

In [29]:
spark.stop()